body {
    background-color: gray;
}

h1 {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 38px;
    font-weight: bold;
}

div {
    display: inline;
}

form {
    background-color: white;
    border: solid 1px #ffffff;
    width: 700px;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    text-align: justify;
    

}

input {
    padding: 10px;
    border-radius:10px;
    border: solid 1px #000000;
    margin: 5px;
    
}

input[type="text"], input[type="number"] {
    width: 90%;
}

input[type="submit"], input[type="reset"] {
    color: black;
    border: solid 1px #000000;
    background-color: wheat;
    width: 150px;
}

input[type="reset"] {
    margin-right: 200px;
}

input[type="reset"]:hover {
    background-color: crimson;
    color: white;
    border: solid 1px #ffffff;
    transform: translate(10%, 10%);
    
}

input[type="submit"]:hover {
    color: white;
    border: solid 1px #ffffff;
    background-color: darkgreen;
    transform: translate(10%, 10%);
}

label {
    font-size: 18px;
    padding: 5px;
    margin: 10px;
    font-weight: bold;

}


@media screen and (min-width: 340px) and (max-width: 940px) {

    h1 {
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 22px;
        font-weight: bold;
    }

    form {
        background-color: white;
        border: solid 1px #ffffff;
        width: 50%;
        height: auto;
        border-radius: 10px;
        padding: 10px;
        text-align: justify;
        
    }

    input[type="submit"], input[type="reset"] {
        width: 100px;
    }

    input[type="reset"] {
        margin-right: 10px;
    }

    label {
        font-size: 12px;
        padding: 5px;
        margin: 10px;
        font-weight: bold;
    
    }

    div {
        font-size: 12px;
        display: inline;
        margin: 2px;
    }

}